<section class="intro grid-x grid-margin-x grid-padding-x align-center align-middle">
  <div class="large-8 medium-8 cell">
    <h1>Hello there!</h1>
    <h5>My name is <span class="call-out">Erik Gui</span>, and I am a <span class="call-out">frontend-focused</span> fullstack software developer and designer based in <span class="call-out">San Francisco</span>. I am passionate about designing and developing elegant and cutting-edge software. I have shipped many products used by <span class="call-out">millions of customers</span> worldwide, take a look at these highlights below the fold!</h5>
  </div>
</section>